<div class="container">
<h1><%= @restaurant.name %></h1>
<p><%=  @restaurant.category %></p>
<p><%=  @restaurant.address %></p>
<p><%=  @restaurant.phone_number %></p>

<h2>Reviews</h2>

  <%= render "reviews/new", { restaurant: @restaurant, review: @review }  %>

<% @restaurant.reviews.each do |review| %>
  <div class="card my-3">
    <div class="card-bo">
      <h5 class="card-title">Rating: <%= review.rating %> Stars</h5>
      <p class="card-text"><%= review.content %> </p>
    </div>
  </div>
<% end %>
</div>
